.background-red {
    background-color: #de6177;
}
.article-block {
    min-height: 700px;
    padding-top: 50px;
}
.headings h2 {
    font-size:30px;
    font-weight:300;
    margin-bottom:20px;
    color:white;
}
.headings p {
    font-size:28px;
    font-weight:100;
    margin-bottom:40px;
    letter-spacing:0.5px;
    line-height:28px;
}
.pad-top-10 {
    margin-top: 100px;
}
.header-vertical-border {
    border-left: 1px solid #ffffff;
    height: 50px;
    margin-left: 50%;
}
.header-text {
    margin: auto;
    width: 50%;
    font-size: 25px;
}
#footer {
    background:#de6177;
    color:white;
    padding:25px 0;
}
.display-block {
    display: block;
}
.footer-block {
    display: block;
}
.footer-block li {
    padding-top: 10px;
    padding-right: 10px;
}
.footer-address {
    margin-left: 0;
}
.footer-address li {
    display: inline-block;
    vertical-align: top;
}
.footer-address li a {
    text-decoration: none;
    color: #ffffff;
}
.mar-top-30 {
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.mar-top-100 {
    margin-top: 70px;
}
@media only screen and (max-device-width: 1000px) {
    .mar-top-100 {
        margin-top: 50px;
    }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 400px) {
    .address-resize {
        font-size: 14px;
    }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 360px) {
    .address-resize {
        font-size: 12px;
    }
}
.social-media-list li {
    float: right;
    display: inline;
    padding-left: 30px;
}
#bigfeatures .section-title{
    color:#666666;
    font-size: 40px;
    font-weight: 400;
}
#bigfeatures {
    color:#666666;
}
.item-list-right h3, .item-list-left h3 {
    font-weight:400;
    color: #666666;
    font-size: 40px;
    text-transform: capitalize;
}
.mtop-0 {
    margin-top: 0px;
}
.product {
    margin-top: 30px;
}
.product div{
    margin-top: 20px;
}
.product a {
    text-decoration: none;
}
.product-height {
    height: 250px;
}
.bullet-popsend {
    width: 50px;
    height: 50px;
    background-color: #ef617a;
    border-radius: 50%;
    float: left;
}
.bullet-popsafe {
    width: 50px;
    height: 50px;
    background-color: #f9c358;
    border-radius: 50%;
    float: left;
}
.bullet-ondemand {
    width: 50px;
    height: 50px;
    background-color: #83d1e2;
    border-radius: 50%;
    float: left;
}
.bullet-freegift {
    width: 50px;
    height: 50px;
    background-color: #85e0ba;
    border-radius: 50%;
    float: left;
}
.title-popsend {
    color: #ef617a;
    margin-top: 5px;
}
.title-popsafe {
    color: #f9c358;
    margin-top: 5px;
}
.title-ondemand {
    color: #83d1e2;
    margin-top: 5px;
}
.title-freegift {
    color: #85e0ba;
    margin-top: 5px;
}
.hide {
    display: none;
}
.bullet-detail {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #ef617a;
    background: none;
    color: #ef617a;
}
.bullet-detail.active{
    background-color: #ef617a;
    color: #fff;
}
.bullet-detail-popsafe {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #f9c358;
    background: none;
    color: #f9c358;
}
.bullet-detail-popsafe.active{
    background-color: #f9c358;
    color: #fff;
}
.bullet-detail-pod {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #83d1e2;
    background: none;
    color: #83d1e2;
}
.bullet-detail-pod.active{
    background-color: #83d1e2;
    color: #fff;
}
.bullet-detail-freegift {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #85e0ba;
    background: none;
    color: #85e0ba;
}
.bullet-detail-freegift.active{
    background-color: #85e0ba;
    color: #fff;
}
.arrow {
    text-align: center;
    margin-right: 20px;
    vertical-align: top;
    margin-left: 12px;
}
.feature-list-detail li {
    margin-top: 20px;
}
.opacity5 {
    opacity: 0.5;
    text-decoration: none;
}
.footer-popsend {
    color: #ef617a;
    font-size: 25px;
}
.footer-popsafe {
    color: #f9c358;
    font-size: 25px;
}
.footer-pod {
    color: #83d1e2;
    font-size: 25px;
}
.footer-freegift {
    color: #85e0ba;
    font-size: 25px;
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.detail-list li {
    display: inline-block;
    height: 91px;
}
.mar-top-15 {
    margin-top: 10px;
    vertical-align: top;
}
@media only screen and (max-device-width: 540px) {
    .small-product {
        height: 250px !important;
    }
}
.height-200 {
    height: 250px;
}
@media only screen and (max-device-width: 990px) {
    .height-200 {
        height: 200px;
    }
}
.text-right {
    text-align: right;
}
@media only screen and (max-device-width: 990px) {
    .text-right {
        text-align: left;
    }
}
.small-icon-popsend {
    width: 45%;
    height: auto;
}
.small-icon {
    width: 50%;
    height: auto;
}
@media only screen and (max-device-width: 990px) {
    .small-icon-popsend {
        width: 100%;
        height: auto;
    }
    .small-icon {
        width: 100%;
        height: auto;
    }
}