body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #656c6d;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #121d1f;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
}
h3 {
	color: #121d1f;
	/*font-size: 20px;*/
	font-weight: 600;
}

h4 {
	color: #121d1f;
	font-size: 18px;
	font-weight: 450;
}


p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Avenir Next';
  	src: url("http://www.yoursite.com/fonts/Avenir_Next.otf"); */
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #D74E45;
	font-weight: 600;
}
a:hover, a:focus {
	text-decoration: none;
	color: #7bc3d1;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

.close-msg-doku{
	float: right;
    margin-top: -9px;
    cursor: pointer;
}

#msg-doku{
    position: fixed;
    background: #f5deef;
    color: #000;
    width: 40%;
    padding: 16px;
    text-align: center;
    left: 30%;
    top: 120px;
    z-index: 1;
}

hr {
	width: 200px;
	border-top: 3px solid #F9474F;
	margin-top: 0px;
}

.img-loader{
	width: 100%;
	text-align: center;
	display: none;
}

.img-loader.active{
	display: block;
}

.img-loader img{
	width: 50px !important;
}

.address-dest{	
	margin-top: 41px;
	/*display: block;	*/
}

.address-dest.active{
	    font-weight: bold;
}

.address-dest div{	
	padding: 0 20px;
    font-weight: bold;
}

.img-circle{
	width: 80%;
	margin-bottom: 20px;
}

/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}

.navbar-custom {
	margin-top: 20px;
	margin-bottom: 0;
	height: 74px;
	/*background-color: #121d1f;*/
	background-color: rgba(249, 71, 79,0.1);
	color:#FFF;
	border-radius: 0px;
	padding: 10px 0;
	border: 0px;
}

.navbar-custom .navbar-nav > li > a {
	color: #fff;
}


.navbar-custom .nav li a:hover {
	outline: 0;
	color: #7bc3d1;
	background-color: transparent;
	/*border-top: 2px solid #D83037;*/
}

.navbar-custom .nav .open li a{
	border-top:0px;
	background-color: transparent;
	border-top: 0px;
}

.navbar-custom .nav .open li a:hover {
	outline: 0;
	color: #7bc3d1;
	background-color: transparent;
	/*border-top: 2px solid #D83037;*/
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #7bc3d1;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}

/*Navbar CS*/
.navbar-cs{
	background-color: #4A4A4A;
	color: #FFF;
	height: 20px;
	min-height: 10px;
	margin-bottom: 0px;
	border-radius: 0px;
}

.btn-default {
	color: #fff;
	background-color: #EC1C24;
	/*background-color: transparent;*/
	border-color: #fff;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
	border-color: none;
}
.btn-primary {
	color: #fff;
	background-color: #121d1f;
	padding: 10px 20px;
	border-color: #121d1f;
	border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #7bc3d1;
	border-color: #7bc3d1;
}
.btn-primary i.fa {
	margin-right: 10px;
}
/* Home Section */
.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../img/intro-bg2.png) no-repeat center top;
	/*	background-color: #7bc3d1;*/
	background-color: #F9474F;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.section-title.center {
	padding: 25px 0 25px 0;
}

.separatorDiv{
	width: 70%;
	border-top: 2px solid #b3b3b3;
	margin: 0 auto;
	margin-top: 10px;
}

/* home Section */
#home {
	padding: 112px 0px 0px 0px;
	background: #F9474f;
	background-repeat: no-repeat;
	background-size:cover;
	background-image: url('../img/homepage_bg.jpg');
}

#home .subscribe{
	margin-top: 30px;
	background-color: rgba(77, 75, 75, 0.9);
	padding: 15px
}

#home #btnSub{
	height:35px;
	padding:5px;
	border:none;
	font-size: 13px;
	padding: 0px 20px 0px 20px;
	background-color: #F9474F;
}

#home ul li{
	width: 291px;
    padding: 5px;
    cursor: pointer;
}
#home ul li:hover, ul li:focus {
	background-color: rgba(77, 75, 75, 0.9);
	color:rgb(255, 255, 255);
}


#home .right{
	padding: 41px 41px 0px 71px;
}


#home .left{
	width: 100%;
    background: #F8F8F9;
    padding: 9px 30px 50px 34px;
    margin-top: 21px;
    border-top: 10px solid #000;
}


#home .left .btn-group{
	margin-top: 20px;
}

#home .left .btn-group:hover{
	border:1px solid #EA9296;
}

#home .left .input-group{
	width: 100%;
}

#home .left .input-group input{
	border:1px solid #EA9296;
	border-radius:0px;
	width: 100% !important;
	height: 44px;
}

.arrow-go{
	padding: 0px;
	border:0px;
}

#home .left button{
    width: 100%;
    background: #f8f8f9;
    color: black;
    text-align: left;
}




#home .left button .caret{
	float: right;
    margin-top: 10px;
}

#home .left .loker-drop{
	display: none;
}


#home .left .logo{
	font-size: 30px;
    font-weight: bold;
    color: #FD6061;
    display: block;
}

#home .left .sub-logo{
    font-size: 18px;
    color: black;
}

#home .left .note2{
    display: table-cell;
	vertical-align: middle;
    padding-top: 10px;
    font-weight: bold;
    color: #fd5a5b;
    font-size: 15px;
}

#home .left .note3{
	display: block;
    padding-top: 4px;
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

#home .left .note4{
	padding-top: 17px;
    display: block;
    color: #FC7879;
    font-style: italic;
}

#home .note1 {
	color: #FFF;
	font-size: 31px;
}

#home .note5{
	width: 100%;
    background: #23B77E;
    text-align: center;
    color: #FFF;
    height: 45px;
    font-size: 20px;
    padding-top:8px;
}

#home .note5:hover{
	cursor: pointer;
	background-color: #bfbfbf;
	color: #4f4f4f;
}

#home .right img {
	display: inline-block;
	padding-top: 30px;
}
#home .subscribe .container {
	max-width: 35%;
}




/*Subscribe */
#subscribe{
	background-color:#2d2d2d;
	padding-top: 10px;
	padding-bottom: 10px;
}

#subscribe .container{
	padding-left: 30px;
	padding-right: 30px;
}

#subscribe .form-control{
	height: 35px;
}

.gmnoprint{
	display: none;
}

#subscribe .input-group-btn{
	background-color: #F9474F;
	color: white;
	height: 35px;
}

/*Why PopBox*/
#why{
	padding-top: 30px;
	padding-bottom: 30px;
}
#why h3{
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-bottom: 5px;
}

#why h2{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

#why .plus i{
	color: #f9474f;
}

#why .plus{
	margin-bottom: 10px;
	text-align: center;
	color:#cbcfcd
	/*width: 100%;*/
	/*height: 100%;*/
}

#why .plus table {
	margin:0 auto;
}

#why .plus table tr td {
	padding: 5px;
}

#why .plus .point {
	font-size: 110%;
	font-weight: bolder;
}

/*How It Works*/
#how{
	padding-top: 20px;
	padding-bottom: 30px;

}
#how {
}
#how h3{
	text-align: center;
}
#how h2{
	text-align: center;
	/*text-decoration: underline;*/
	font-weight: bold;
}

#nearest {
	padding: 20px 0px 35px 0px;
}


#nearest .note1{
	text-align: center;
    padding: 10px 50px 50px 50px;
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

#nearest .note1 .note{
	font-size: 18px;
}

#nearest .note2{
	text-align: left;
    font-size: 22px;
    color: #000;
    margin-top: -23px;
    padding-left: 68px;
    height: 48px;
}

#nearest .note2 .active{
	border-bottom: 2px solid #F9474F !important;
	color: #F8333C;
}

#nearest .search_location{
	padding: 0px 27px 0 26px;
	margin-bottom: 10px;
}

#nearest .search_location .btn-group {
    border: 1px solid #EA9296;
    margin-top: 20px;
}

#nearest .search_location .input-group input {
    border: 1px solid #EA9296;
    border-radius: 0px;
}

#nearest .search_location .input-group {
    margin-top: 20px;
    width: 424px;
}

#nearest .search_location .or {
	padding-top: 17px;
}

#nearest .search_location button {
    width: 450px;
    background: #FFF;
    color: black;
    text-align: left;
}

#nearest .search_location button .caret {
    float: right;
    margin-top: 10px;
}

#nearest .search_location .input-group input {
    width: 100%;
    height: 44px;
}

#nearest .search_location .right{
	background: #333333;
    padding: 20px;
    margin-top: 14px;
}

#nearest .search_location .right .loc-detail-content{
	float: left;
    width: 280px;
    text-align: left;
}

#nearest .search_location .right .note23{
	display: block;
    padding-top: 19px;
}


#nearest ul li {
    width: 449px;
    padding: 5px;
}

#nearest ul li:hover, ul li:focus {
	background-color: rgba(77, 75, 75, 0.9);
	color:rgb(255, 255, 255);
}


.search_location .right .loc-detail-content .loc-row-content .title{
    color: #E83941;
    padding-top: 14px;
}

.search_location .right .loc-detail-content .loc-row-content .address{
    color: #FFF;
}

.right .loc-detail-content .loc-row-content

.search_location .right .loc-detail-content .loc-row-content{
    padding-top: 20p;
}

#nearest .note2 .note21{
	border-bottom: 4px solid white;
    padding-bottom: 6px;
}

#nearest .note2 .note21:hover{
	border-bottom: 4px solid #F8313A;
	cursor: pointer;
}

#nearest .note2 .note22{
	width: 30px;
}

#nearest .right{
	overflow-y: auto;
	height: 339px;
}

#nearest .right .note3{
	float: left;
    width: 253px;
}

#nearest .right .note3 .note31{
	color: #E34C43;
    display: block;
    text-align: left;
}

#nearest .right .note3 .note32{
	text-align: left;
    display: block;
    font-weight: bold;
}

#nearest .right .box1{
	background: #D0D0D0;
    height: 78px;
    padding: 9px 6px 10px 18px;
    font-size: 13px;
}

#nearest .right .box2{
	background: #E7E7E7;
    height: 78px;
    padding: 9px 6px 10px 18px;
    font-size: 13px;
}

#nearest .right .dtl-height{
	height: 40px;
}

#nearest .right .dtl{
	background: #F9474F;
	width: 60px;
   	float: right;
   	color: white;
   	margin-top: 43px;
}

#deliver{
	padding-top: 35px;
    background: #4A4A4A;
}

#deliver .note1{
	text-align: left;
    color: white;
    font-size: 21px;
    padding: 50px 0px 0px 43px;
}

#deliver img{
	padding-top: 50px;
}
#deliver .note2 {
	width: 82%;
    margin: 0 auto;
    padding-top: 30px;
}

#deliver .note2 .note21{
	font-size: 24px;
    color: white;
    text-align: center;
    border-top: 2px solid #FF474F;
}

#deliver .dtl-deliver{
	background: #F9474F;
    width: 28%;
    margin: 0 auto;
    color: white;
    font-size: 22px;
    padding: 10px;
}

#contact .note1{
	padding:110px 10px 0 10px;
	text-align: left;
}

#contact .note1 .note11{
	display: block;
    font-size: 30px;
}
#contact .note1 .note12{
	display: block;
    font-size: 20px;
    font-weight: bold;
}

#contact .note2{
	padding: 59px 50px 120px 50px;
	font-size: 19px;
}


.invoice{
	padding-top: 70px;
}
.invoice .container {
    padding: 90px 90px 0px 90px;
}

.invoce .note1{
	font-size: 22px;
    color: #000;
}

.invoice .note11{
	font-size: 22px;
    color: #000;
}

.invoice .note12{
    color: #000;
    font-size: 22px;
    padding-top: 25px;
}

.invoice .note13{
    color: #f9474f;
    font-size: 23px;
    font-weight: bold;
    float: left;
}

.invoice .btn-email{
	float: right;
    cursor: pointer;
    background: #f9474f;
    height: 30px;
    padding: 6px;
    color: white;
    font-weight: bold;
}

.invoice-order-email{
	padding-top: 10px;
    border-bottom: 2px solid black;
}

.invoice .order-send-email{
	padding-top: 10px;
    border-bottom: 2px solid #e6e6e6;
}

.invoice  .order-note{
    padding-top: 24px;
    font-size: 16px;
}

.invoice .qrcode{
	text-align: center;
}

.invoice .step{
	border: 2px solid #e05667;
    padding: 22px;
    margin-top: 48px;
}

.invoice .address{
	padding-top: 50px;
    font-size: 17px;
    border-bottom: 1px solid #999999;
    padding-bottom: 28px;
}

.invoice .notes{
	padding: 15px 0 69px 0;
    font-size: 17px;
}
.invoice .note-help{
	background: #f9474f;
    color: white;
    text-align: center;
    padding: 4px;
    margin-top: 19px;
}

.invoice .container {
    padding: 90px 36px 0px 33px;
}

.invoice .responsive{
	   padding-top: 17px;
}

.invoice .btn-print{
    background: #f9474f;
    width: 87px;
    color: white;
    text-align: center;
    cursor: pointer;
    float: right;
    padding: 4px;
    font-weight: bold;
}

.invoice #print{
	display: none;
}

/*CSS Auth*/
#auth {
	padding: 110px 0px 30px 0px;
	/*background: #F9474f;*/
	background: #FFF;
	background-repeat: no-repeat;
	background-size:cover;
	background-image: url('../img/bg-login.svg');
	height: 100%;
}

#auth .title{
	padding-top: 100px;
	padding-right: 25px;
	font-size: 20px;
	font-weight: bold;
	line-height: 2;
}

#auth .boxLogin{
	display: flex;
   	align-items: center;
   	/*justify-content: center;*/
	background-color:rgba(28, 30, 31, 0.9);
	padding: 20px 30px 20px 30px;
	color: #FFF;
}

#auth .boxLogin h3 {
	color: #FFF;
}

#auth .boxLogin h4 {
	color: #FFF;
}



#auth .boxLogin button{
	margin-top: 15px;
	width: 100%;
	background: #f9474f;
	color: white;
	text-align: center;
}

#auth .boxLogin .btn-group{
	border:1px solid #EA9296;
	margin-top: 20px;
}

#auth .boxLogin .btn-group:hover{
	border:1px solid #EA9296;
}

#auth .boxLogin .input-group{
	/*border:1px solid #EA9296;*/
	margin-top: 20px;
	width: 292px;
}

#auth .boxLogin .input-group input{
	border:1px solid #EA9296;
	border-radius:0px;
}

#auth .boxLogin .input-group button{
	width: 20px;
}

#auth .boxLogin .input-group input{
	width: 100%;
	height: 44px;
}


#auth .boxLogin button .caret{
	float: right;
    margin-top: 10px;
}

#auth .boxLogin .logo{
	font-size: 20px;
    font-weight: bold;
    color: #FD6061;
    display: block;
}

#auth .boxLogin .sub-logo{
    font-size: 18px;
    color: black;
}

#auth .loginBtn{
	width: 100%;
    background: #333;
    text-align: center;
    color: #FFF;
    height: 45px;
    font-size: 20px;
    padding-top:8px;
}
#auth .textRed{
	color: #f9474f;
	/*font-weight: bold;*/
}
#auth .textWhite{
	color: #fefefe;
	/*font-weight: bold;*/
}

#auth .inputText{
	/*background-color: #f9474f;*/
	color: #000;
	font-weight: bold;
	text-align: left;
}

.form-control::-webkit-input-placeholder {
		color: #d5ced1 !important;
}
.form-control:-moz-placeholder {
		color: #d5ced1 !important;
}
.form-control::-moz-placeholder {
		color: #d5ced1 !important;
}
.form-control:-ms-input-placeholder {
		color: #d5ced1 !important;
}

.dropdown-toggle{
	/*color: #d5ced1 !important;*/
}

.dropdown-toggle.active{
	color: #000 !important;
}

.btn-group ul li{
	padding: 5px;
	cursor: pointer;
}

.chart {
	position: relative;
	display: inline-block;
	width: 152px;
	height: 152px;
	margin-bottom: 26px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	font-size: 21px;
	color: #121d1f;
	line-height: 152px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}
/* Portfolio Section */
#portfolio {
	padding: 50px 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f4f5f6), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	background: #D74E45;
	color: #fff;
	padding: 6px 14px;
}
ol.type li a.active {
	background: #121d1f;
	color: #fff;
}
ol.type li a:hover {
	background: #121d1f;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 33% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
/* Achivements Section */
#achievements {
	padding: 50px 0;
	background: #ECBA1E;
}
#achievements h2 {
	color: #fff;
}
#achievements hr {
	background: rgba(255,255,255,0.3);
}
.achievement-box h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin-left: 5px;
}
.achievement-box span.count {
	font-size: 80px;
	font-weight: 600;
	display: block;
	color: #121d1f;
	padding: 0;
	margin: 0;
}

/* Contact Section */

label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}


.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Register Section */
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}

.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

.footer{
	padding : 15px 0px 5px 0px;
	background-color: #4A4A4A;
	color: #FFFFFF;
}

.footer a {
	color:#FFF;
}
.footer a:hover {
	color:#F9474F;
}

.footerCopy{
	padding : 0px;
	background-color: #FFF;
	color: #4A4A4A;
}

.popsend{
	padding-top: 70px;
}

.popsend .sub-popsend{
	width: 85%;
	margin:0 auto;
	padding: 20px 0 1% 0;
	background: #F2F2F2;
}

.popsend .container{
	padding: 70px 0 0 0px;
}

.popsend .container .note11{
	display: block;
    font-size: 30px;
    padding-left: 60px;
}

.popsend .container .note12{
	display: block;
    padding: 9px 5px 50px 60px;
    font-size: 16px;
}

.popsend .drop_off{
	width: 90%;
    margin: 0 auto;
    background:#FFF;
}

#btn-upload-img{
	cursor: pointer;
}

.popsend ul li:hover, ul li:focus {
	background-color: rgba(77, 75, 75, 0.9);
	color:rgb(255, 255, 255);
}

.topup .drop_off{
	width: 80%;
    margin: 0 auto;
    background:#FFF;
    padding-bottom: 30px;
}

.sub-popsend .note21{
	text-align :center;
	padding-top: 20px;
}

.sub-popsend .input-group {
    margin-top: 20px;
    width: 595px;
}

.sub-popsend .line{
	border-bottom: 1px solid black;
	width:98%;
	padding-top: 20px;
}

.sub-popsend .or{
	text-align: center;
    width: 100px;
    background: black;
    margin-top: -11px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    color: white;

}

.sub-popsend .separated{
	height: 40px;
}

.sub-popsend .location{
	background: #333333;
    width: 93%;
    left: 17px;
    padding: 19px 0 10px 21px;
    color: white;
}

.sub-popsend .location .note2{
	color:#E35051;
}

.sub-popsend .location .note2{
	color:#E35051;
}

.sub-popsend .maps{
	    left: 6%;
}

.sub-popsend .input-group input {
    border: 1px solid #EA9296;
    border-radius: 0px;
}

.sub-popsend .drop_off .search{
    border-right: none;
    height: 43px;
}

.sub-popsend .drop_off .search2{
    height: 43px;
}


.sub-popsend .drop_off .box1{
    border: 1px solid #DC454C;
    padding: 20px;
    font-weight: bold;
    width: 94%;
    margin-left: 13px;;
}

.sub-popsend .drop_off .note31{
		padding:20px 0 10px 13px;
}

.sub-popsend .img-search{
	border-top: 1px solid #EA9296;
    height: 43px;
    border-right: 1px solid #EA9296;
    border-bottom: 1px solid #EA9296;
    margin-left: -6px;
}

.sub-popsend .rd-parcel{
	/*background: #F2F2F2;*/
    padding: 0px 10px 10px 30px;
    font-weight: bold;
	font-size: 14px;
	border: 1px solid #F9474F;
}

.sub-popsend .note32{
	padding: 30px 0 10px 0;
}

.sub-popsend .rd-parcel ul{
	list-style-type:none;
}

.sub-popsend .rd-parcel ul li{
	padding: 10px;
}

.sub-popsend .input-content ul li{
	width: 590px;
    padding: 5px;
    cursor: pointer;
}

.sub-popsend .list-img{
	padding: 10px;
}

.topup{
	padding-top: 70px;
}

.topup .sub-topup{
	width: 85%;
	margin:0 auto;
	padding: 20px 0 2% 0;
	background: #F2F2F2;
}

.topup .container{
	padding: 90px 0 0 0px;
}


.sub-topup .drop_off .search{
    border-right: none;
    height: 43px;
}

.sub-topup .drop_off .search2{
    height: 43px;
}


.sub-topup .drop_off .box1{
    border: 1px solid #DC454C;
    padding: 20px;
    font-weight: bold;
    width: 94%;
    margin-left: 13px;;
}

.sub-topup .drop_off .note31{
		padding:20px 0 10px 13px;
		color: #FD6061;
    	font-weight: bold;
    	padding: 0 20px 0 0;
}

.topup .container .note11{
	display: block;
    font-size: 30px;
    padding-left: 60px;
}

.topup .container .note12{
	display: block;
    padding: 9px 0 71px 60px;
    font-size: 16px;
}

.sub-topup .title1 .note21{
	font-size: 17px;
}

.sub-topup .title1 .note22{
	float: right;
}

.sub-topup .content{
	width: 93%;
	margin:auto;
}

.sub-topup .content .title2{
	float: right;
    font-size: 20px;
    padding: 31px 0 20px 0;
}

.sub-topup .content.box{
	width: 93%;
	margin:auto;
	padding: 20px;
    border: 1px solid #FB9A9e;
}

.sub-topup .content.box .btnn{
    width: 23%;
    text-align: center;
    height: 30px;
    padding: 5px;
    color: white;
}

.sub-topup .content.box .btnn.btn-from{
	background: #333333;
}

.sub-topup .content.box .btnn.btn-edit{
	background: #F9474F;
	float: right;
}

.sub-topup .content.box .address{
	padding: 17px 30px 0 30px;
	font-size: 17px
}

.sub-topup .content.box .address .note41{
	color: #E35051;
}

.sub-topup .content .box2{
	background: #F5A623;
    text-align: center;
    height: 30px;
    padding-top: 3px;
    color: #424242;

}

.sub-topup .content .icon-notify{
    padding-right: 27px;
}

.sub-topup .content .note42{
    padding-top: 11px;
}

.sub-topup .content .btn-topup-balace{
	padding: 14px;
    float: right;
    background: #F9474F;
    color: white;
    font-size: 24px;
    margin-top: 30px;
}

.topup .row-submit{
	width: 85%;
    margin: 0 auto;
    padding-bottom: 12%;
}

.topup .btn-submit{
	background: #4A4A4A;
	height: 50px;
	text-align: center;
	padding: 10px 20px 10px 0;
	font-size: 20px;
	color: white;
	font-weight: 600;
}

.popsend .row-submit{
	width: 85%;
    margin: 0 auto;
    padding-bottom: 12%;
}

.popsend .btn-submit{
	background: #23B77E;
	height: 50px;
	text-align: center;
	padding: 10px 20px 10px 0;
	font-size: 20px;
	color: white;
	font-weight: 600;
}

.popsend .btn-submit:hover{
	cursor: pointer;
	background-color: #bfbfbf;
	color: #4f4f4f;
}

.topup .btn-submit.enable{
	background: #23B77E;
}

.topup .btn-submit.enable:hover{
	cursor: pointer;
	background-color: #bfbfbf;
	color: #4f4f4f;
}



.topup .btn-submit span{
	padding-right: 5%;
	font-weight: bold;
}

.topupProcess{
	padding-top: 70px;
}

.topupProcess .btn-submit:hover{
	cursor: pointer;
}

.topupProcess .drop_off {

    background:#FFF;
    padding-bottom: 30px;
}

.topupProcess .sub-topupProcess{
	width: 100%;
}

.topupProcess .container{
	padding: 90px 0 0 0px;
}

.sub-topupProcess .content{
	padding: 0 20px 20px 0;
}

.sub-topupProcess .content .title2 {
    float: right;
    font-size: 20px;
}

.topupProcess .container .note11 {
    display: block;
    font-size: 30px;
    padding-left: 0px;
}

.topupProcess .container .note12 {
    display: block;
    padding: 9px 0 40px 0px;
    font-size: 16px;
}

.sub-topupProcess .content.box {

    font-size: 13px;
}


.sub-topupProcess .content .rd-payment {
	float: right;
    margin-right: -20px;
}

.topupProcess .row-submit {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 12%;
}
.topupProcess .btn-submit {
	background: #4A4A4A;
    height: 50px;
    text-align: center;
    padding: 10px 20px 10px 0;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.topupProcess .sub-topupProcess .content .row{
	margin: 20px 0 0 0;
}

.topupProcess .sub-topupProcess .content .btnn {
	background: #4A4A4A;
    height: 50px;
    text-align: center;
    padding: 10px 20px 10px 0;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

/*.topupProcess .sub-topupProcess .content .btnn.btn-choosen{
	float: right;
}

.topupProcess .sub-topupProcess .content .btnn:hover{
	background:#F9474f;
	color:#FFF;
	cursor: pointer;
}
*/

.topupProcess .sub-topupProcess .content .choose{
	background: #f2f2f2;
	padding: 0px 15px 15px 15px;
}

.topupProcess .sub-topupProcess .content .head-bonus{
    color: #000;
    font-size: 32px;
    text-align: center;
    padding: 20px 0 22px 0;
}

.topupProcess .sub-topupProcess .content .head-bonus .title{
	color: white;
	font-size :15px;
}

.topupProcess .sub-topupProcess .content .head-bonus.yellow{
	background: #f5a623;

}
.topupProcess .sub-topupProcess .content .head-bonus.red{
	background: #f64d4d;
}

.topupProcess .sub-topupProcess .content .head-bonus.green{
	background: #30dbb5;
}

.topupProcess .sub-topupProcess .content .head-bonus.blue{
	background: #4a90e2;

}

.topupProcess .sub-topupProcess .content .content-bonus{
    background: #FFF;
    color: #000;
    font-size: 16px;
    text-align: center;
    padding: 15px 0 20px 0;
}


.topupProcess .sub-topupProcess .content .red-content-bonus{
	color: red;
    font-size: 22px;
}

.topupProcess .sub-topupProcess .content .btn-bonus{
    background: #f5a623;
    color: #FFF;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.topupProcess .sub-topupProcess .content .btn-bonus.yellow{
	background: #f5a623;
}

.topupProcess .sub-topupProcess .content .btn-bonus.red{
	background: #f64d4d;
}

.topupProcess .sub-topupProcess .content .btn-bonus.green{
	background: #30dbb5;
}

.topupProcess .sub-topupProcess .content .btn-bonus.blue{
	background: #4a90e2;
}

.topupProcess .sub-topupProcess .content .choose img{
		width: 100%;
}

.topupProcess .sub-topupProcess .content .btnn.active{
	background:#F9474f;
	color:#FFF;
	cursor: pointer;
}

.sub-topupProcess .content .row-payment{
	border-bottom: 2px solid #E5E5E5;
    padding-bottom: 20px;
}

.sub-topupProcess .content .row-payment ol{
	margin-left:-25px;
}

.sub-topupProcess .content .row-payment img{
	margin-top :-16px;
}

.sub-topupProcess .content .row-payment.first img{
	margin-top :0;
}

.sub-topupProcess .content .row-payment.first{
	padding-top:20px;
}
.sub-topupProcess .content .ol{
	list-style-type:decimal;
}

.sub-topupProcess .content.content-transf-notify {
    padding: 0 13%;
}


.sub-topupProcess .content.content-transf-conf {
    padding: 0 13%;
}

.payment-transf-notif{
	padding: 49px !important;
    font-size: 22px;
}

.payment-transf-notif .btn-confirm{
	background: #f9474f;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
    padding: 10px;
}

.payment-transf-conf{
	padding: 49px !important;
    font-size: 25px;
}
.payment-transf-conf #tgl ul li{
	width: 220px !important;
	padding: 5px;
	cursor: pointer;
}


.payment-transf-conf .transfer-to .btn-group{
	width: 100%;
}

.payment-transf-conf .transfer-to .bank-name{
	width: 100%;
}

.payment-transf-conf .date{
	width: 220px !important;
}

.payment-transf-conf #tgl ul li{
	width: 220px !important;
	padding: 5px;
	cursor: pointer;
}

.payment-transf-conf .transfer-to .btn-group{
	width: 100%;
}

.payment-transf-conf .transfer-to .bank-name{
	width: 100%;
}

.payment-transf-conf .transfer-amount .amount{
	width: 100%;
}

.payment-transf-conf .transfer-amount .btn-group{
	width: 100%;
}

.payment-transf-conf .input-group {
    margin-top: 20px;
    width: 100%;
}



.payment-transf-notif .redd{
	color: #f85d64;
}

.payment-transf-conf .btn-confirm{
	background: #f9474f;
    width: 35%;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
    padding: 10px;
}

.payment-transf-conf .btn-submit{
	background: #f9474f;
}

.payment-transf-conf .input-group input {
    border: 1px solid #EA9296;
    border-radius: 0px;
    height: 43px;
}

.payment-transf-conf #tgl li{
	width: 220px !important;
	padding: 5px;
	cursor: pointer;
}



.payment-transf-conf #bln li{
	width: 220px !important;
	padding: 5px;
	cursor: pointer;
}

.payment-transf-conf #thn li{
	width: 220px !important;
	padding: 5px;
	cursor: pointer;
}

.payment-transf-conf #amount li{
	width: 736px !important;
	padding: 5px;
	cursor: pointer;
}


.payment-transf-conf #bank-tranfer-dest li{
	width: 736px !important;
	padding: 5px;
	cursor: pointer;
}

.payment-transf-conf .required-msg{
		color:red;
		display: none;
}



#expand-box {
width: 100%;
padding: 0;
border: 2px solid #BBB;
margin: 7px 0 0 0;}

#expand-box-header {
background-color: #BBB;
margin: 0;
color: #FFF;
padding: 0 0 3px 2px;
overflow: auto;}

#expand_box_sub_header { clear: both; }

.drop_off .title1{
	background: #f9474f;
    height: 49px;
    color: #FFF;
    padding-top: 9px;
}

.drop_off .title1 span{
	font-size: 20px;
	color: #FFF;
}

.sub-popsend .drop_off .title2{
	background: #333333;
    height: 20px;
    color: #FFF;
}



.drop_off .input-content{
	width: 80%;
	margin:0 auto;
}

.drop_off .input-content2{
	width: 79%;
	margin:0 auto;
}

.drop_off .btn-group{
	border: 1px solid #EA9296;
    margin-top: 20px;
}

.drop_off .btn-group button .caret{
	float: right;
    margin-top: 10px;
}

.drop_off .btn-group button {
	width: 592px;
    background: #FFF;
    color: black;
    text-align: left;
}

.drop_off .row{
	margin:0px;
}

.box-red{
	border-color: #ea9296 ;
}

.select-kota, .select-kecamatan, .img-load-kota, .img-load-kecamatan{
	display: none;
}



/* Media Queries */
@media(max-width:768px) {
		#home .subscribe .container {
		max-width: 100%;
		}
		.payment-transf-conf .btn-confirm {
			width: 60%;
		}
		.payment-transf-conf #amount li {
	    	width: 100% !important;
		}

		.payment-transf-conf #bank-tranfer-dest li {
	    	width: 100% !important;
		}

	    .topupProcess .sub-topupProcess .content .choose .col-md-3{
	    	padding-top: 40px;
	    }

		.invoice .container {
		    padding: 90px 36px 0px 33px;
		}

		.navbar-custom .nav li a {
			font-size: 9px;
			color: #000;
		}
		.navbar-nav {
			margin:0px;
		}

		.invoice  .order-note{
			font-size: 14px;
		}

		.search_location .input-group input {
		    width: 89%;
		}

		.search_location #map_wrapper1 {
 		   height: 230px;
		}

		#home ul li {
		    width: 202px;
		    padding: 5px;

		}
		#map {
		    width: 91%;
		}
		#nearest .search_location .input-group input {
    		width: 96%;
    	}
    	#nearest .search_location .input-group {
    		width: 96%;
    	}
    	#nearest .search_location #loc-detail1{
    		height: 255px;
    	}

    	#nearest #map_wrapper {
		    height: 200px;
		    width: 329px;
		    padding-left:0px;
		}
    	#nearest .search_location .loc-detail-content{
    		float: right;
    	}

    	#nearest .search_location button {
    		width: 252px;
    	}
    	.drop_off .btn-group button {
		    width: 100% !important;
		}

		.drop_off .btn-group button ul li {
		    width: 100% !important;
		}
}

@media(min-width:992px) {
#here-me h1 {
	margin: 10px 0 0px;
}
}

@media(min-width:1440px) {
	.topupProcess .sub-topupProcess .content .choose img{
		width: 203px;
	}


}

@media(min-width:1200px) {
	.topupProcess .sub-topupProcess .content .choose img{
		width: 203px;
	}
}


@media(max-width:1024px) {


	.topupProcess .sub-topupProcess .content .head-bonus .price {
		font-size: 25px;
	}

	.topupProcess .sub-topupProcess .content .red-content-bonus {
		font-size: 19px;
	}

	#deliver img {
	    width: 100%;
	}

	.drop_off .btn-group button {
    		width: 505px;
   	}

   	.sub-popsend .input-group {
	    width: 509px;
	}

	#map {
	    width: 90%;
	}
}

@media(max-width:800px) {

	#footer-top .right ul li img {
	    width: 43px;
	}

	#footer-top .right ul li {
    	padding: 0;
	}

	.nav li{
		background: #FFF;
	}
	.navbar-custom .nav li a:hover{
		border-top:none;
	}


	#home .right{
		padding: 10px;
	}
	#home .right img {
		width: 98%;
	}


	#home .right .note1{
		font-size: 20px;
	}

	.input-group-btn{
		width:33px;
	}

	.input-group-btn img{
		margin-left: -44px;
	}

	#nearest .note2{
		font-size: 17px;
		padding-left :32px;
	}

	#nearest .right{
		padding-top: 20px;
	}

	#nearest .right .note3{
		width: 223px;
	}

	#nearest .left img {
 		width: 100%;
	}

	#deliver img{
		width: 100%;
	}

	#deliver .note1 {
		font-size: 14px;
		padding:0 0 0 20px;
	}

	#deliver .note2 {
		padding-top: 13px;
	}

	#deliver .dtl-deliver{
		font-size: 6px;
	}

	#deliver .note2 .note21 {
		font-size: 8px;
	}

	#footer{
		height: 153px;
	}

	#footer-top .left ul li {
	    font-size: 12px;
	    padding: 6px 16px 10px 0;
	}

	#contact .note2 {
		    padding: 59px 50px 61px 50px;
		    font-size: 14px;
	}

	#contact .note2 img{
		width: 20%;
	}

	#contact .note1 .note12 {
	    display: block;
	    font-size: 14px;
	}

	#footer-top {
	    height: 126px;
	}

	#footer-top .right ul li{
		padding:13px 0 0 0px;
	}


	.popsend .container .note11 {
	    display: block;
	    font-size: 100%;
	    padding-left: 10%;
	}

	.popsend .container .note12 {
	    display: block;
	    padding: 3% 0 4% 9%;
	    font-size: 10px;
	}

	.sub-popsend .drop_off .title1 img{
		width: 29px;
	}

	.drop_off .title1 span {
	    font-size: 13px;
	}

	.drop_off .title2 {
	    font-size: 69%;
	}

	.drop_off .btn-group button {
    	width: 100%;
	}

	.drop_off .btn-group {
	    width: 101%;
	}

	.drop_off .input-content {
	    width: 91%;
	}

	.sub-popsend .input-group {
	    width: 101%;
	}

	.sub-popsend .location {
	    width: 93%;
	    left: 3%;
	    padding: 11px 0 10px 21px;
	    font-size: 11px;
	}

	.sub-popsend .maps img{
		width: 88%;
	}

	.drop_off .input-content{
		 font-size: 10px;
	}

	.sub-popsend .rd-parcel {
	    padding: 4% 0 1% 7%;
	}

	.sub-popsend .drop_off .box1 {
	    padding: 2%;
	}

	.sub-popsend .drop_off .box1 {
	    width: 86%;
	    margin-left: 7%;
	}

	.popsend .container {
	    padding: 10% 0 0 0px;
	}

	.popsend .drop_off {
	    width: 90%;
	}

	.sub-popsend .input-content ul li{
		width: 100%;
	    padding: 5px;
	}

	.sub-topup .content.box .btnn {
		width: 100%
	}

	.sub-topup .content.box .address {
	    padding: 6px;
	    font-size: 11px;
	}

	.sub-topup .content .title2 {
	    font-size: 12px;
	}

	.sub-topup .content .box2 {
	    height: 51px;
	}
	.sub-topup .content .icon-notify {
	    padding-right: 13px;
	}

	.sub-topup .content .note42 {
	    font-size: 10px;
	}

	.sub-topup .content .btn-topup-balace {
	    font-size: 9px;
	}

	.topup .btn-submit {
	    text-align: right;
	    font-size: 14px;
	    height: 44px;
	}


	.sub-topup .content.box {
		padding: 5px;
	}

	.topupProcess .container .note11 {
	    font-size: 21px;
	    padding-left: 41px;
	}

	.sub-topupProcess .content .title2 {
	    font-size: 13px;
	}

	.sub-topupProcess .content.box {
	    padding: 0 13px 12px 6px;
	    font-size: 10px;
	}

	.topupProcess .sub-topupProcess .content .btnn {
	    width: 76%;
	}

	.topupProcess .btn-submit {
	    height: 48px;
	    font-size: 17px;
	}
	#nearest .right .note3{
		width: 195px;
    	font-size: 11px;
	}
}


@media(max-width:640px) {
	.sub-popsend .input-content ul li{
		width: 387px;
	}

	.sub-popsend .drop_off .box1 {
	    width: 94%;
	    margin-left: 3%;
	}
}

@media(max-width:425px) {
	.payment-transf-conf{
		font-size:11px;
	}
	.payment-transf-conf .btn-confirm {
		width: 60%;
	}

	.tracking .centered{
		width: 100% !important;
	}

	.tracking .centered .input-group{
		width: 100%;
	}

	#pac-input {
		width: 200px !important;
	}

	.payment-transf-notif {
    	padding: 34px !important;
	    font-size: 12px;
	}

}

@media(max-width:375px) {
	.payment-transf-conf .btn-confirm {
		width: 100%;
	}

	.payment-transf-conf #bank-tranfer-dest li{
		width: 240px !important;
		padding: 5px;
		cursor: pointer;
	}


	.payment-transf-conf #amount li{
		width: 240px !important;
		padding: 5px;
		cursor: pointer;
	}

	.topupProcess .sub-topupProcess .content .choose {
    	padding: 5px !important;
	}

}


@media(max-width:320px) {
	#pac-input {
		width: 180px !important;
	 }
}





.donation-info {
	color:#fff;
	float: left;
    padding-bottom: 5px;
}

.tracking {
	margin-top: 70px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.tracking .container{
	padding-top: 40px;
}

.tracking .centered {
	margin: auto;
   	width: 50%;
   	padding: 10px;
	text-align: center;
}
@media(max-width:800px) {
	.tracking .centered {
		margin: auto;
	   	width: 100%;
	   	padding: 10px;
		text-align: center;
	}
}

.tracking .input-group .form-control {
	width: 100%;
	height: 44px;
	border: 1px solid #EA9296;
	border-radius: 0px;
}

/*
* History Page
 */
 .history {
 	margin-top: 70px;
 	padding-top: 30px;
 	padding-bottom: 30px;
 }
 .history .container{
 	padding-top: 40px;
	padding-left: 50px;
 }
 .history .title {
	 font-size: 30px;
	 padding-left: 0px;
 }

 .history .subtitle{
	 padding: 9px 0 50px 0;
	 font-size: 16px;
 }




/*1
 * Component: Timeline
 * -------------------
 */
.timeline {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #ddd;
  left: 31px;
  margin: 0;
  border-radius: 2px;
}
.timeline > li {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
  min-height: 25px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-item {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 0;
  background: #fff;
  color: #444;
  margin-left: 60px;
  margin-right: 15px;
  padding: 0;
  position: relative;
}
.timeline > li > .timeline-item > .time {
  color: #999;
  float: right;
  padding: 10px;
  font-size: 12px;
}
.timeline > li > .timeline-item > .timeline-header {
  margin: 0;
  color: #555;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
  font-size: 16px;
  line-height: 1.1;
}
.timeline > li > .timeline-item > .timeline-header > a {
  font-weight: 600;
}
.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer {
  padding: 10px;
}
.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #d2d6de;
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}
.timeline > .time-label > span {
  font-weight: 600;
  padding: 5px;
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
}
.timeline-inverse > li > .timeline-item {
  background: #f0f0f0;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.timeline-inverse > li > .timeline-item > .timeline-header {
  border-bottom-color: #ddd;
}
.bg-red {
  background-color: #d73833 !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-yellow {
  background-color: #edec2c !important;
}
.bg-green {
  background-color: #4cb446 !important;
}

.bg-gray {
	background-color: #d2d6de !important;
}

.contact {
   margin-top: 70px;
   padding-top: 30px;
   padding-bottom: 30px;
}
.contact .container{
   padding-top: 40px;
   padding-left: 50px;
   margin-bottom: 20px;
}
.contact .title {
	font-size: 30px;
	padding-left: 0px;
	text-align: center;
}

.contact .subtitle{
	padding: 9px 0 50px 0;
	font-size: 16px;
	text-align: center;
}

#fixedbutton {
	position: fixed;
	bottom: 30px;
	left: 0px;
}
#maps img{max-width:none}